<section class="px-8 py-6 md:px-32 dark:bg-[#0f1629]">
  <h2 class="text-2xl text-blue-900 font-bold text-center mb-6 pt-10 pb-10 dark:text-[#12a6e8]">
    {{ 'studyChances.heading' | transloco }}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-20">
    <app-opportunity-card
      *ngFor="let oportunidad of oportunidades"
      [imageSrc]="'assets/images/comfama.jpg'" 
      [imageAlt]="oportunidad.nombre"
      [title]="oportunidad.nombre"
      [description]="oportunidad.descripcion">
    </app-opportunity-card>
  </div>
</section>
